body {
    overflow-x:auto;
    background-color: #5C4224;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

button {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    font-size: medium;
    font-weight: 600;
}

.container {
    display: flex;
}

.head {
    flex: 20%;
    min-width: 20%;
    max-width: 20%;
    padding: 10px;
    height: 95vh;
}

.splitter {
    margin: 1% 0;
    max-width: 1%;
}

.main {
    flex: 1;
    padding: 10px;
    max-width: 79%;
    overflow-y: auto;
    height: 96.6vh;
}

.code {
    display: block;
    color: black;
    background-color: bisque;
    border: solid black 0px;
    border-radius: 5px;
    margin: 6px;
    padding: 12px;
    overflow-x: scroll;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav button {
    margin: 4px;
    flex-grow: 1;
    height: auto;
    min-height: 45px;
    padding: 8px;
    border: solid white 2px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #72522d;
}

.nav button:hover{
    background-color: #9C6F3D;
}

.nav button:disabled{
    background-color: #C28B4C;
    cursor:unset;
}

a.white_link:link{
    color: rgb(127, 233, 252);
}

a.white_link:visited{
    color:rgb(50, 149, 255)
}

a.white_link:hover{
    color:rgb(0, 210, 247)
}

a.white_link:active{
    color:rgb(0, 183, 255)
}