body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    background-color:#5C4224;
}

button {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    font-size: large;
    font-weight: 1000;
}

.page {
    margin: 0 auto;
    max-width: 1300px;
    padding: 15px;
    background-color: #9C6F3D;
    border:hidden;
    border-radius: 10px;
}

.block {
    border: hidden;
    border-radius: 10px;
    padding: 10px;
    margin: 6px;
}

.lab_frame {
    width: 100%;
    min-height: 600px;
    margin-top: 4px;
    height: 100%;
    border: solid white 2px;
    border-radius: 10px;
}

.button_selector {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 4px 0;
}

.button_selector button {
    flex-grow: 1;
    height: 50px;
    border: solid white 2px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #9C6F3D;
    margin: 0;
    padding: 0;
}

.button_selector button:hover{
    background-color: #C28B4C;
}

.button_selector button:disabled{
    background-color: #72522d;
    cursor:unset;
}

.title_and_photo {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.no_pdn_mrg{
    padding: 0px;
    margin: 0px;
}

a.white_link:link{
    color: rgb(127, 233, 252);
}

a.white_link:visited{
    color:rgb(50, 149, 255)
}

a.white_link:hover{
    color:rgb(0, 210, 247)
}

a.white_link:active{
    color:rgb(0, 183, 255)
}